[Unit]
Description=Redis data structure server (port 6381)
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/redis-server /etc/redis/redis-6381.conf
Restart=always
User=redis
Group=redis

[Install]
WantedBy=multi-user.target